<html>
  <head>
    <title>Let's Chia Fan</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" ></script>
    <script>
      $(document).ready(function() {
          $('.ui.dropdown').dropdown();
      });
    </script>
  </head>
  <body>
    <div class="ui container">
      {% include 'job_list.html' %}
      {% include 'job_creator.html' %}
    </div>
  </body>
</html>
